h1
{
    background-color: pink;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

ol
{
    text-align: center;
}

h2
{
    text-align: center;
}

h3 
{
    text-align: center;
}

p
{
    text-align: center;
}
P1
{
    text-decoration-line: underline;
}

div
{
    text-align: right;
}

